body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.math-function {
  color: Purple;
  font-weight: bold;
}

.math-number {
  color: Blue;
}

.math-boolean {
  color: Green;
}

.math-string {
  color: Grey;
}

/* .math-string::before,
.math-string::after {
  content: '"';
} */

.math-property {
  font-style: italic;
}
